doctype
index
  head
    title hi
    script(src='/static/Tone.min.js')
    script(src='/static/socket.io.js')
    script(src='/static/sound.js')
  body
    div(id='datadiv' data-ip=ip data-port=port)
